# URL Base de la API NestJS
# En desarrollo: llamada directa al puerto 3000
# En produccion: /api (gestionado por proxy inverso Nginx en el mismo dominio)
VITE_API_URL=http://localhost:3000/api

# Nombre público de la aplicación
VITE_APP_TITLE="Ing. Wilfrido Trujillo | Gestión Académica y Eventos"
